{% extends 'materials/menu.html' %}
{% load my_tags %}

{% block content %}
<section class="text-start mt-4">
    <div class="row">
        <div class="col-9">
            <h1 class="jumbotron-heading">{{ theme.title }}</h1>
        </div>
    </div>
    <div class="row">
        <h4 class="jumbotron-heading">{{ theme.description }}</h4>
    </div>
    <hr>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
               href="{% url 'material:theme_detail' theme.id %}">
                Уроки
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="{% url 'material:test_list' theme.id %}">
                Тесты
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
               href="{% url 'comments:theme_comments' theme.id %}">
                Комментарии к теме
            </a>
        </li>
    </ul>
    <div class="container mt-4">
        <table class="table table-success table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"><h4 class="jumbotron-heading">Тесты:</h4></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td scope="row">
                    <a href="{% url 'material:test_detail' object.pk %}"
                       class="lead nav-link text-dark">
                        {{ object.title }}
                    </a>
                </td>
                <td scope="row">
                    <a href="{% url 'comments:test_comments' object.pk %}"
                       class="lead nav-link">
                        Комментарии
                    </a>
                </td>
                <td>
                    {% if user.is_staff and object.is_published %}
                    <a href="{% url 'material:test_set_published' object.pk %}"
                       class="btn btn-outline-danger">
                        Снять с публикации
                    </a>
                    {% elif user.is_staff %}
                    <a href="{% url 'material:test_set_published' object.pk %}"
                       class="btn btn-outline-primary">
                        Опубликовать
                    </a>
                    {% endif %}
                    <a href="{% url 'material:test_passing' object.pk %}"
                       class="btn btn-outline-success">
                        Пройти тест
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}