{% extends 'materials/menu.html' %}
{% load my_tags %}

{% block content %}
<div class="container">
    <div class="mb-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="lead mt-4">
                {{ text }}
            </p>
            <button type="submit" class="p-2 btn btn-danger btn-lg">Удалить</button>
            <a href='{% url cancel_url %}'
               class="btn btn-light btn-lg">
                Отмена</a>
        </form>
    </div>
</div>
{% endblock %}