{% extends 'materials/menu.html' %}
{% load my_tags %}

{% block content %}
<div class="row">
    <div class="col-9">
        <h1 class="jumbotron-heading">{{ object.title }}</h1>
    </div>
</div>
<div class="row">
    <div class="lead">{{ object.description }}</div>
</div>
<hr>
<form action="{% url 'tests:result_new' object.pk %}" method="get" class="form-inline mt-2 mt-md-0">
    <div class="container mt-4">
        <ol>
            {% for question in object.question_set.all %}
            <div class="row lead mb-4">
                <div class="col-10">
                    <li>{{ question.question_text }}</li>
                </div>
                <ul class="list-unstyled">
                    {% for answer in question.answer_set.all %}
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   name="{{answer.id}}" value="{{answer.is_correct}}" id="{{answer.id}}">
                            <label class="form-check-label"
                            for="{{answer.id}}">
                                {{ answer.answer_text }}
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </ol>
    </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <button class="btn btn-outline-success btn-lg" type="submit">Проверить</button>
        </div>
    </div>
</form>
{% endblock %}